# Laravel
/backend/vendor/
/backend/storage/*.key
/backend/storage
*.log
/backend/.env

# React
/frontend/node_modules/
/frontend/components.json
/frontend/dist/
/frontend/.vite/
/frontend/.env

# ルート
.env.dev
.env.prod
.DS_Store
Thumbs.db